/*****************TAG CELECTORS**********************/
body{
    display: block;
    margin: auto;
    font-family: Sans-Serif;
    color: #444444;
    background-color: #FAFAFA;
    }

hr{
  background-color:#444444;
  width:100%; height: 0.5px
  }

h1{
  font-size: 79px
  }

p{
  font-size:23px;
  display:block;
  }

 strong{
       color: #555555
       }

  a {
    color: blue;
    text-decoration: none; /* no underline */
    font-size: 32pt;
  }


/*****************CLASS CELECTORS**********************/




p.portfolio{
   font-size: 23pt
}


div.DS.Eco-Electric{
                   font-size: 59pt;
                   }




/*****************ID CELECTORS************************/
